@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "ProductAdd";
    Layout = "~/Views/Shared/BrandLayout.cshtml";
}

<h1>Ürün Ekle</h1>
<br />
@using (Html.BeginForm("ProductAdd", "Product", FormMethod.Post))
{
    @Html.Label("Ürün Başlığı")
    @Html.TextBoxFor(x=>x.ProductName, new {@class = "form-control"} )
    @Html.ValidationMessageFor(x=>x.ProductName)
    <br />
    @Html.Label("Ürün Görseli")
    @Html.TextBoxFor(x=>x.ProductImage, new {@class = "form-control"} )
    @Html.ValidationMessageFor(x=>x.ProductImage)
    <br />
   @* @Html.Label("Ürün Küçük Görseli")
    @Html.TextBoxFor(x=>x.ProductThumbnailImage, new {@class = "form-control"} )
    <br />*@
    @Html.Label("Ürün Kategori")
    @Html.DropDownListFor(x=>x.CategoryID, (List<SelectListItem>)ViewBag.cv, new { @class= "form-control"})
    <br />
    @Html.Label("Ürün İçeriği")
    @Html.TextAreaFor(x=>x.ProductContent, 15, 3, new {@class = "form-control"} )
    @Html.ValidationMessageFor(x=>x.ProductContent)
    <br />
    <button class="btn btn-info">Kaydet</button>
}