@using EntityLayer.Concrete
@model List<Product>


@{
    ViewData["Title"] = "ProductListByBrand";
    Layout = "~/Views/Shared/BrandLayout.cshtml";
}

<h1>Markanın Ürünleri</h1>
<table class="table table-boardered">
    <tr>
        <th>#</th>
        <th>Ürün Başlığı</th>
        <th>Oluşturlma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ProductID</th>
            <td>@item.ProductName</td>
            <td>@(((DateTime)item.ProductCreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.ProductStatus</td>
            <td><a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Product/EditProduct/@item.ProductID" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Product/ProductAdd/" class="btn btn-primary"> Yeni Ürün Ekle</a>

